<div class="row mb-4">
    <div class="d-flex">
        <div class="d-none d-sm-none d-md-block flex-shrink-0">
            {% if include.person.headshot != 'n/a' %}
            <img src="{{ site.baseurl }}/assets/img/{{ include.person.headshot }}" class="headshot"
                alt="Headshot of {{ include.person.name }}">
            {% else %}
            <img src="{{ site.baseurl }}/assets/img/default-profile-img.jpg" class="headshot"
                alt="Headshot for {{ include.person.name }} not found">
            {% endif %}
        </div>
        <div class="d-none d-sm-none d-md-block flex-grow-1 ms-3 bio border border-dark">
            <h4 class="card-title">{{ include.person.name }} - {{ include.person.association }}</h4>
            <p class="card-text">
                {% if include.person.title %}
                {{ include.person.title }},
                {% endif %}
                {{ include.person.affiliation }}
            </p>

            {% if include.person.projectblurb %}
            <h5>About {{ include.person.projecttitle }}</h5>
            <p class="bio-text">{{ include.person.projectblurb }}</p>
            {% endif %}

            <h5>Personal Bio</h5>
            <p class="bio-text">{{ include.person.bio }}</p>

        </div>
    </div>
</div>

<!-- xs + sm screens -->
<div class="d-md-none col-12 text-center mb-3">
    {% if include.person.headshot != 'n/a' %}
    <img src="{{ site.baseurl }}/assets/img/{{ include.person.headshot }}" class="headshot"
        alt="Headshot of {{ include.person.name }}">
    {% else %}
    <img src="{{ site.baseurl }}/assets/img/default-profile-img.jpg" class="headshot"
        alt="Headshot for {{ include.person.name }} not found">
    {% endif %}
</div>
<div class="d-md-none col">
    <h4 class="card-title">{{ include.person.name }} - {{ include.person.association }}</h4>
    <p class="card-text">
        {% if include.person.title %}
        {{ include.person.title }},
        {% endif %}
        {{ include.person.affiliation }}
    </p>
    <p class="card-text">{{ include.person.bio }}</p>
</div>
