<div class="accordion mb-2" id="spoiler-{{ include.problem }}">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#answer-{{ include.problem }}" aria-expanded="true"
                aria-controls="collapseOne">
                Spoiler! {{ include.title }}
            </button>
        </h2>
        <div id="answer-{{ include.problem }}" class="accordion-collapse collapse"
            aria-labelledby="spoiler-{{ include.problem }}" data-bs-parent="#spoiler-{{ include.problem }}">
            <div class="accordion-body">
                {% if include.image %}
                    <img src="{{ site.baseurl }}{{ include.image }}" class="example-img" alt="{{ include.alt }}" />
                    <p class="caption">{{ include.caption }}</p>
                {% endif %}
                {% if include.answer %}
                    <p>{{ include.answer }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

