---
layout: page
format: section
---

{% for grouploop in site.lessons %}
{% if grouploop.layout == "lessongroup" %}
<h3><a href="{{ site.baseurl }}{{ grouploop.permalink }}">{{ grouploop.title }}</a><br></h3>
{{ content }}<br>
{% assign grouptitle = grouploop.group %}
{% for secondloop in site.lessons %}
{% if secondloop.group == grouptitle %}
{% if secondloop.layout == "lesson" %}
<b><a href="{{ site.baseurl }}{{ secondloop.permalink }}">{{ secondloop.title }}</a></b><br>
{{ secondloop.abstract }}<br>
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %} 

