---
layout: default
format: section
---

<h1>{{ page.title }}</h1>

{% assign lessongroups = site.lessons | where: "layout", "lessongroup" %}
{% assign lessons = site.lessons | where: "layout", "lesson" %}
<ul class="list-group-flush">
    {% for group in lessongroups %}
    <li class="list-group-item">
        <h2><a href="{{ site.baseurl }}{{ group.permalink }}">{{ group.title }}</a></h2>
    </li>
    <ul class="list-group-flush">
        {% for lesson in lessons %}
        {% if lesson.group == group.group %}
        <li class="list-group-item">
            <h3><a href="{{ site.baseurl }}{{ lesson.permalink }}">{{ lesson.title }}</a></h3>
            <p>{{ lesson.abstract }}</p>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endfor %}
</ul>
